.sidebar {
  width: 260px;
  height: 100vh;
  background-color: #050505;
  background-image: linear-gradient(180deg, #0f0f19 0%, #050505 100%);
  border-right: 2px solid #00d4ff;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 5px 0 15px rgba(0, 212, 255, 0.1);
  z-index: 100;
}

.sidebar-header {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 212, 255, 0.1);
}

.sidebar-title {
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

.sidebar-title span {
  color: #ff003c; /* Rose Néon */
  text-shadow: 0 0 8px #ff003c;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex-grow: 1;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0.85rem 1rem;
  color: #4df3ff; /* Bleu clair */
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  border: 1px solid transparent;
}

.nav-item:hover {
  background-color: rgba(0, 212, 255, 0.05);
  color: #00d4ff;
  border: 1px solid rgba(0, 212, 255, 0.3);
}

.nav-item.active {
  background-color: rgba(0, 212, 255, 0.1);
  color: #ffffff;
  border: 1px solid #00d4ff;
  box-shadow: 0 0 10px rgba(0, 212, 255, 0.2);
}

.nav-item.active svg {
  color: #ff003c; /* L'icône devient rose quand actif */
  filter: drop-shadow(0 0 5px #ff003c);
}

.logout-btn {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 1rem;
  color: #ff003c;
  cursor: pointer;
  border: 1px solid rgba(255, 0, 60, 0.2);
  border-radius: 4px;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.logout-btn:hover {
  background-color: #ff003c;
  color: #000;
  box-shadow: 0 0 15px #ff003c;
}