:root {
  background-color: #050505;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #050505;
  background-image: radial-gradient(circle at 50% 50%, #0f0f19 0%, #050505 100%);
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

/* Scrollbar Style Cyberpunk */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #00d4ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff003c;
}